/* Some CSS styling */
body {
	/* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	color: #FFF;
	background-color: #333;
}
.form-group {
	padding-left: 20px;
}

.custom-container {
	padding: 5px 10px 5px 10px;
}
.panel {
	background-color: #666;
	padding:10px;
	border-radius:4px;
}
#sketchpad {
	border:2px solid #888;
	border-radius:4px;
	position:relative; /* Necessary for correct mouse co-ords in Firefox */
	height: 1000px; 
	width: 1300px; 
}
